h1{
    color: rgb(20, 37, 220);
    background:url('images (3).jpg');
    background-size: cover;
    transition: 0.5s;
 
}
h1:hover{
    background:url('camera-lens-with-red-blue-backlight-macro-photography-lenses_99533-213.webp');
    color:brown;
}
body{
    background:url('pexels-photo-598917.jpeg');
    background-size: cover;
    transition: 1s;
}
body:hover{
    background:url('camera-gae88b8af0_1920.jpg');
    background-size: cover;
}
#canvas{
    width: 380px;
    height: 380px;
    border-color: aqua;
}
